{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

    {% if player.role() == 'Consumer' %}
        <p>予想される電力消費量は{{ Constants. }}です。</p>
        <p>誤差は正規分布に従います。</p>
        <ul>
            <li>±1の範囲に収束する確率は約38%</li>
            <li>±2の範囲に収束する確率は約68%</li>
            <li>±3の範囲に収束する確率は約87%</li>
            <li>±4の範囲に収束する確率は約95%</li>
            <li>±5の範囲に収束する確率は約99%</li>
            <li>...</li>
        <ul>
    {% else %}

    {% endif %}

    {% next_button %}

{% endblock %}
