{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    テスト概要
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>電力消費ゲーム:</strong></p>
            <p>
                世帯の電力消費を単純にモデル化したゲームです。プレイヤーは生産者と消費者にわかれ、それぞれ電気の生産と消費を行います。
                1日の6つの時間帯を2日間繰り返す、つまり12ラウンドあります。それぞれのラウンドで生産・消費の意思決定を行います。
                
            </p>
        </div>
    </div>

{% endblock %}
