{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    テスト概要
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>電力消費ゲーム:</strong></p>
            <p>
                世帯の電力消費を単純にモデル化したゲームです。プレイヤーは生産者と消費者にわかれ、それぞれ電気の生産と消費を行います。
                1日の6つの時間帯を2日間繰り返す、つまり12ラウンドあります。それぞれのラウンドで生産・消費の意思決定を行います。
                ゲーム内では現実世界の気温のような概念が存在し、この気温による効用の低下を電力消費によって防ぎます。
                意思決定に際して、生産者は不確実性の高い予測をみて生産量を決定し、消費者はこの予測と実際の気温を見て消費量を決定します。
                消費者は消費電力量を前ターンから減少させるのにコストをかける必要があるため、うまく消費量を調整することでポイントをセーブすることができます。
                一点、総生産量が総消費量を上回った場合に固定のポイントペナルティがあるので気をつけてください。
                2パターンのゲームを行い、最初は一律な電気料金で、次に消費量の増える昼間の電気料金を値上げして行います。
                消費して残ったポイントが謝礼として支払われます。
            </p>
        </div>
    </div>

{% endblock %}
