{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    価格決定
{% endblock %}

{% block content %}
    <h3>ターン{{ subsession.round_number }}/{{ Constants.num_rounds }}</h3>
    <p>ターン{{ subsession.round_number }}を含めた向こう{{ Constants.repeat_span }}ターンの効用関数は参考にあるとおりで、ピーク時は平均 $a_{i}={{ subsession.peak_mean }}$ 、オフピーク時は平均 $a_{i}={{ subsession.offpeak_mean }}$ で、それぞれ標準正規分布に従う誤差項を加えた値となります。</p>
    <p>また $\alpha={{ subsession.alpha }}$ です。</p>
    <br>
    <p>電気料金は{{ Constants.minimum_price }}kW以上で整数の範囲で自由に設定でき、総使用量を34~45kWに収めることができるとボーナスとして{{ Constants.consumption_bonus }}獲得できます。逆に30〜49kWに収めることができなければペナルティとして{{ Constants.consumption_penalty }}が課されます。</p>
    <p>また生産者はこの総使用量に応じた収益も得ることができ、1kWにつき{{ Constants.profit_per_kw }}獲得できます。すなわち、総使用量が40kWだった場合収益としての400ポイントとボーナスの{{ Constants.consumption_bonus }}で合計1400ポイント獲得でき、50kwだった場合、収益として500ポイントとペナルティとしての{{ Constants.consumption_penalty }}を合算して0ポイント獲得できます。</p>
    <p>また消費者全体の需要量が{{ Constants.blackout_criteria }}kW以上になると停電が起き、消費者それぞれに{{ Constants.blackout_penalty }}が課せられることに注意してください。停電に関して生産者は特にペナルティはありません。</p>
    <p>このことを踏まえて、ターン{{ subsession.round_number }}を含めた向こう{{ Constants.repeat_span }}ターンのピーク時およびオフピーク時の電気料金を決定してください。</p>

    {% formfield group.peak_pricing label="ピーク時の電力価格 $c_{peak}$ を20以上の整数で入力してください" %}
    {% formfield group.offpeak_pricing label="オフピーク時の電力価格 $c_{offpeak}$ を20以上の整数で入力してください" %}

    {% next_button %}
    <h4>参考</h4>
    <h5>総電力需要量によるポイント収支</h5>
    <table class="table-bordered" style="width:900px; margin-top:20px;">
        <tr>
            <th>総需要(消費)量(単位:kW)</th>
            <th>消費者支払(5ターン毎)</th>
            <th>停電ペナルティ</th>
            <th>生産者利益</th>
            <th>生産者ボーナス</th>
            <th>生産者ペナルティ</th>
        </tr>
        <tr>
            <td>~29</td>
            <td>電気料金 x 使用量</td>
            <td>-</td>
            <td>電気料金 x Σ使用量</td>
            <td>-</td>
            <td>{{ Constants.consumption_penalty }}</td>
        </tr>
        <tr>
            <td>30~33</td>
            <td>電気料金 x 使用量</td>
            <td>-</td>
            <td>電気料金 x Σ使用量</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>34~45</td>
            <td>電気料金 x 使用量</td>
            <td>-</td>
            <td>電気料金 x Σ使用量</td>
            <td>{{ Constants.consumption_bonus }}</td>
            <td>-</td>
        </tr>
        <tr>
            <td>46~49</td>
            <td>電気料金 x 使用量</td>
            <td>{{ Constants.blackout_penalty }}</td>
            <td>電気料金 x Σ使用量</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>50~</td>
            <td>電気料金 x 使用量</td>
            <td>{{ Constants.blackout_penalty }}</td>
            <td>電気料金 x Σ使用量</td>
            <td>-</td>
            <td>{{ Constants.consumption_penalty }}</td>
        </tr>
    </table>

    <h5>ピーク時</h5>
    \[
        P(x) = {{ subsession.alpha }}\times\frac{1}{1+\mathrm{e}^{-(x-{{ subsession.peak_mean }})}} - c_{peak} \times x
    \]
    <p>$P(x)$ は以下の値をとります。</p>
    <table class="table-bordered" style="width:600px; margin-top:20px;">
        <tr>
            <td>x</td>
            {% for x in peak_x_range %}
                <td>{{ x }}</td>
            {% endfor %}
        </tr>
        {% for utilities in calculated_peak_utilities %}
        <tr>
            <td>c={{ 2|add:forloop.counter0 }}0</td>
            {% for u in utilities %}
                <td>{{ u }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h5>オフピーク時</h5>
    \[
        P(x) = {{ subsession.alpha }}\times\frac{1}{1+\mathrm{e}^{-(x-{{ subsession.offpeak_mean }})}} - c_{offpeak} \times x
    \]
    <p>$P(x)$ は以下の値をとります。</p>
    <table class="table-bordered" style="width:600px; margin-top:20px;">
        <tr>
            <td>x</td>
            {% for x in offpeak_x_range %}
            <td>{{ x }}</td>
            {% endfor %}
        </tr>
        {% for utilities in calculated_offpeak_utilities %}
        <tr>
            <td>c={{ 2|add:forloop.counter0 }}0</td>
            {% for u in utilities %}
                <td>{{ u }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block app_scripts %}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" }},
    tex2jax: {
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    processEscapes: true
    },
    "HTML-CSS": { matchFontHeight: false },
});
</script>
{% endblock %}

{% block app_styles %}
<style>
    h5 {
        margin-top: 16px;
    }
    td, th {
        text-align: center;
    }
</style>
{% endblock %}