{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    テスト概要
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>電力消費ゲーム:</strong></p>
            <p>世帯の電力消費を簡単にモデル化したゲームです。プレイヤーは生産者と消費者に分かれ、それぞれ電力の生産と消費を行います。</p>
            <p>このゲームは一回につき全24ラウンドからなり、それぞれのラウンドでプレイヤーは生産や消費の意思決定を行います。24という数字は1日を4時間ずつ6つの時間帯に分けて、4日分に相当します。つまり4日分の電力消費をシミュレーションすることになります。また後で説明しますが、この4日のうち前半2日と後半2日で設定が異なります。</p>
            <p>また、現実世界のお金と効用を合わせたようなポイントという概念を導入し、ゲーム開始時に配布され残った分が1ポイント=1円で今回の謝礼金となります。</p>

            <h3>消費者目線のストーリー</h3>
            <p>現実世界では世帯が電力を消費する場面として、テレビを見る、風呂を沸かす、エアコンを稼働させる、、、などなどたくさん考えられますが、このゲームでは電力消費はエアコンを稼働させるためだけに行うという仮定をおきます。</p>
            <p>このゲームの季節設定は真夏。消費者たちは暑いのでエアコンを冷房に設定し、うだるような暑さを回避したいところです。しかし冷房を利用すればその分電気料金がかかります。この電気料金は安いに越したことはありませんが、気温に応じて毎回温度を設定しなおすのもめんどくさいですし、ずっと温度設定が一定という方も多いのではないでしょうか。そういった状況を再現したルールが以下になります。</p>
            <p>ゲーム内では「気温」という概念が出てきます。「気温」と同量かそれ以上の電力量を消費する（ここでは冷房の稼働が行われる想定）ことで快適に過ごせます。例えば「気温」が28の場合、28以上例えば30の電力量を消費することで快適に過ごせます。</p>
            <p>ここで消費した電力量とその時の電気料金を乗じた分のポイントが消費されます。例えば28の電力量を消費した時、電気料金が1ならば28ポイントが手持ちから差し引かれます。通常時、電気料金は1ですが、後で説明するCPP発動時のみ2になります。</p>
            <p>さて、電力消費が「気温」よりも小さいとどうなるかというと、差分に2を乗じたポイントが手持ちから差し引かれます。例えば28の「気温」で27の電力消費を決定すると、(28-27)x2で2ポイントが手持ちから差し引かれます。電力消費が「気温」以上の場合には消費電力量に対するポイント消費しか行われませんが、「気温」より小さかった場合に消費電力量に対するポイント消費に加えて上記の差に応じたポイント減少があることに注意してください。</p>
            <p>また前ラウンドよりも小さい電力消費を行うには追加でポイントを消費します。具体的には前ラウンドとの消費量の差に2を乗じた数のポイントが消費されます。例えば前ラウンドで28の電力消費を行い現在のラウンドで27の電力消費を決定した場合、(28-27)*2のポイントが追加で手持ちから差し引かれます。このように前ラウンドより電力消費を抑える場合にポイント消費が発生しますが、増やす場合には電力消費量に対するポイント消費に加えてポイント消費が発生することはありません。</p>

            <h3>予測値について</h3>
            <p>「気温」予測並びに総消費量予測について説明します。現実世界の天気予報のようなイメージで、未来の時間帯についての「気温」の予測値が出ます。予測値なのでもちろん誤差を含んだ値で、この誤差項は標準正規分布に従います。</p>
            <p>「気温」の予測値 = 「気温」実際の値 + e（eは標準正規分布に従う）</p>
            <p>そしてこの「気温」の予測値に基づき総消費量予測が行われ、この値は生産者に毎ターン開示され、彼らはそれに基づいて生産の意思決定を行っています。総消費量予測値は、全消費者が予測された「気温」と同様の電力量を消費した場合を想定しており、例えば「気温」が27だと予測されれば総消費量予測値は27x3で81となります。</p>
            <p>総生産量予測値 = 「気温」の予測値 x 3 = 「気温」実際の値 x 3 + 3e（eは標準正規分布に従う）</p>
            <p>一方消費者側には残りのラウンドそれぞれでの「気温」の予測値が開示され、それに基づいて電力消費を行うとしばしばポイントを節約することにつながります。例えば「気温」が27の次に26になる場面を考えると、「気温」に追従して電力消費量を変えた場合のポイント消費が27+26+2で55なのに対して、どちらのターンも一貫して27を消費した場合のポイン消費は27x2で54とポイント消費を抑えることができます。これは前ラウンドよりも小さい電力消費を行うには追加でポイントを消費するというルールによるものです。</p>

            <h3>CPP(Critical Peak Pricing)</h3>
            <p>これは簡単にいうと想定される電力総消費量が多い場合に電気料金を通常時より高くする仕組みです。このゲームではCPPの発動条件を総消費量予測が85以上になったらとし、CPP発動時の電気料金を2とします。</p>
            <p>なおCPPの発動は予測に基づくので、実際の「気温」と同量のエネルギー量がこの予測値よりも小さい場合でもCPPは発動しうることに注意してください。例えば予測値が「気温」29x3世帯分で87の場合CPPが発動しますが、実際の「気温」が27のようになることもありうるということです。</p>
            <p>このCPPが発動するのは全4日のシミュレーションのうち後半2日だけで、前半2日は一律電気料金が1となります。</p>
            <p>また追加ルールとして世帯の総需要が生産者の総生産量を上回ると停電が起きるというものも組み込んでいます。停電が起きると消費者それぞれから固定で70のポイントが引かれるのでご注意ください。</p>

            <h3>生産者目線のストーリー</h3>
            <p>電力生産者は想定される電力需要に見合った量の電気を生産する必要があります。また先述した停電のような事態が起こらないためにも、常に余裕を持った生産を心がける必要があります。</p>
            <p>生産者は毎ターン提示される総消費量予測値に基づき生産量を決定します。この予測値には誤差項が含まれていることに留意し余裕を持った生産を心がける必要があります。この生産の際、生産した電力量に1を乗じたポイントが消費されます。</p>
            <p>また停電が発生すると固定で210ポイントが引かれるのでご注意ください。</p>
        </div>
    </div>

    {% next_button %}

{% endblock %}
